.team__title {
    margin-bottom: 50px;
  }
  .team__list {
    display: flex;
    gap: 30px;
  }
  .team__item {
    background-color: var(--main-white-color);
    width: calc( 100% - 90px ) / 4;
  }
  
  .team__item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 10px;
  }
  
  .team__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--Main-text-color);
  }
  
  .team__item-content {
    padding: 30px 10px;
  }
  
  .team__item-soc-list {
    // display: flex;
    // gap: 10px;
    justify-content: center;
    margin-top: 16px;
  }
  
  // .soc__link {
  //   // width: 44px;
  //   // height: 44px;
  //   // border-radius: 50%;
    
  //   // display: flex;
  //   // align-items: center;
  //   // @extend %align-list;
  //   // justify-content: center;
  // }
  .team__link{
    background-color: var(--main-white-color);
    color: #afb1b8;

    &:hover,
    &:focus {
      background-color: var(--btn-cover-color);
      color: #ffffff;}
  }
  
  
  
  .team__soc-icon {
    fill: currentColor;
  }
  
  .team__link {
    transition: color var(--transition-duration) var(--tarnsition-timing-function),
      background-color var(--transition-duration)
        var(--tarnsition-timing-function);
  }