/*-------------------css text---------------*/
.header {
    border-bottom: 1px Solid #ececec;
  }
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    margin-right: 93px;
  }
  
  .header-logo-web {
    color: var(--logoweb-color);
  }
 
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px #ececec;
  }
  
  .header-adress {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .header-list {
    display: flex;
    gap: 50px;
  }
  .header-adress-email {
    margin-right: 50px;
  }
  .header-item {
    position: relative;
  }
  
  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: var(--typical-line-height);
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    &:hover,
    &:focus {
      color: var(--main-hover-color);
    }
    &.current {
      color: var(--main-hover-color);
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--logoweb-color);
      }
    }
  }
 
  .header-link {
    transition: color var(--transition-duration) var(--tarnsition-timing-function);
  }
  
  
  .header-email {
    font-weight: 500;
    font-size: 14px;
    line-height: var(--typical-line-height);
    letter-spacing: 0.02em;
    color: var(--Main-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      color: var(--btn-cover-color);
    }
  }
  .header-email {
    transition: color var(--transition-duration) var(--tarnsition-timing-function);
  }
  
  .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: var(--typical-line-height);
    letter-spacing: 0.02em;
    color: var(--Main-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
    color: var(--btn-cover-color);
   }
  }
  .header-tel {
    transition: color var(--transition-duration) var(--tarnsition-timing-function);
  }
  .header-soc-icon {
    fill: currentColor;
    margin-right: 10px;
  
  &:hover {
    color: var(--btn-cover-color);
  }
}
  
  

  
  
  /*.header-email::before{
    content: "";
    width: 16px;
    height: 12px;
    
    background-image: url("../images/symbol-defs.svg#icon-envelope");
    color:var(--Main-text-color)
    
    margin-right: 10px;
  }*/