/*-------------------css text---------------*/
.header {
    border-bottom: 1px Solid #ececec;
  }
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    
  }
  .navigation__logo{
    margin-right: 93px;
  }
  
  .logo__web {
    color: var(--logoweb-color);
  }
 
  .navigation {
  //   display: flex;
  //  align-items: center;
  @extend %align-list;
   
  }
  .header__container {
  // display: flex;
  // align-items: center;
  @extend %align-list;
    border-bottom: 1px #ececec;
  }
  
  .menu {
    display: flex;
    gap: 50px;
  }
 
  .menu__item {
    position: relative;
  }
  
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: var(--typical-line-height);
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    &:hover,
    &:focus {
      color: var(--main-hover-color);
    }
    &.current {
      color: var(--main-hover-color);
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--logoweb-color);
      }
    }
  }
 
  .menu__link {
    transition: color var(--transition-duration) var(--tarnsition-timing-function);
  }

  .adress {
    //  display: flex;
    // align-items: center;
    @extend %align-list;
     
    }
  
  .adress__list{
    margin-left: auto;
  }

  .adress__email{
    margin-right: 50px;
  }


  .email__link  {
    font-weight: 500;
    font-size: 14px;
    line-height: var(--typical-line-height);
    letter-spacing: 0.02em;
    color: var(--Main-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    //  display: flex;
    // align-items: center;
    @extend %align-list;
    justify-content: center;

    &:hover,
    &:focus {
      color: var(--btn-cover-color);
    }
  }
  .email__link  {
    transition: color var(--transition-duration) var(--tarnsition-timing-function);
  }
  
  .adress__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: var(--typical-line-height);
    letter-spacing: 0.02em;
    color: var(--Main-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    // display: flex;
    // align-items: center;
    @extend %align-list;
    justify-content: center;

    &:hover,
    &:focus {
    color: var(--btn-cover-color);
   }
  }
  .adress__tel{
    transition: color var(--transition-duration) var(--tarnsition-timing-function);
  }
  .soc__icon {
    fill: currentColor;
    margin-right: 10px;
  
  &:hover {
    color: var(--btn-cover-color);
  }
}
  
  

  
  
  /*.header-email::before{
    content: "";
    width: 16px;
    height: 12px;
    
    background-image: url("../images/symbol-defs.svg#icon-envelope");
    color:var(--Main-text-color)
    
    margin-right: 10px;
  }*/