.team-title {
    margin-bottom: 50px;
  }
  .team-list {
    display: flex;
    gap: 30px;
  }
  .team-item {
    background-color: var(--main-white-color);
    width: calc( 100% - 90px ) / 4;
  }
  
  .team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 10px;
  }
  
  .team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--Main-text-color);
  }
  
  .team-item-content {
    padding: 30px 10px;
  }
  
  .team-item-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }
  
  .team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-white-color);
    // display: flex;
    // align-items: center;
    @extend align-list;
    justify-content: center;
    color: #afb1b8;

    &:hover,
    &:focus {
      background-color: var(--btn-cover-color);
      color: #ffffff;
    }
  }
  
  .team-soc-icon {
    fill: currentColor;
  }
  
  .team-soc-link {
    transition: color var(--transition-duration) var(--tarnsition-timing-function),
      background-color var(--transition-duration)
        var(--tarnsition-timing-function);
  }